<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestNGProject" parallel = "tests">
    <parameter name="browser" value="chrome"></parameter>
    <listeners>
        <listener class-name="testNG.testListeners"></listener>
    </listeners>
    <test thread-count="5" name="testngTest">
        <classes>
            <class name="testNG.testNGRunner" />
        </classes>
    </test>
</suite>